
project_id = "mqssfyrlelwizcjurjal"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54321"

[inbucket]
enabled = true
port = 54324

[auth]
enabled = true
site_url = "http://localhost:3000"
# Add additional redirect URLs as needed in a comma-separated list
additional_redirect_urls = [
  "https://localhost:3000", 
  "https://f6933d2a-0bc1-47b2-8bc7-bc4eb147977c.lovableproject.com", 
  "https://f6933d2a-0bc1-47b2-8bc7-bc4eb147977c.lovableproject.com/*", 
  "http://localhost:3000/*",
  "https://f6933d2a-0bc1-47b2-8bc7-bc4eb147977c.lovableproject.com/join/*",
  "https://f6933d2a-0bc1-47b2-8bc7-bc4eb147977c.lovableproject.com/login/*",
  "https://f6933d2a-0bc1-47b2-8bc7-bc4eb147977c.lovableproject.com/reset-password/*"
]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_expiry = 43200
